@media (max-width: 768px){
	.padding_zero{
		padding: 0 !important;
	}
	.box_one{
		min-height: 300px;
	}
	.box_two{
		min-height: 300px;
	}
	.box_margin{
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.s2_margin{
		margin-left: 5px;
	}
}